.nombre{
    display: inline-block;
    border: 1px solid black;
    margin: 8px 8px 8px;
    padding: 3px 3px 3px;
    font-size: 20px;
    }

.nombres {
    width: 600px;
}

input {
    margin-bottom: 20px;
}

.MauvaisGuess{
    padding-bottom: 5px;
    padding-top: 5px;
    color: black;
    background-color: red;
    width: 300px
}

.BonGuess{
    color: white;
    background-color: green;
    padding-bottom: 5px;
    padding-top: 5px;
}

.CacherBouton{
    visibility: hidden;
}